
article {
    margin-top: 2rem;
    width: 90%;
    margin: auto;
}

.accordion {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    border: 1px solid darkslategray;
    border-radius: 0.5rem;

    text-align: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
    transition: 0.4s;
}

.first {
    margin-top: 1rem;
}

.accordion:hover {
    background-color: silver;
}

button.active {
    background-color: silver;
}

.panel {
    display: flex;
    justify-content: space-around;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-in 0.1s;
}

.description {
    width: 60%;
}

.description p {
    margin: 0.5rem;
}

.image {
    width: 35%;
    margin: 0.5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}


ul {
    margin-left: 2rem;
}